# ID를 기준으로 전처리를 진행한다.
Main Project_1.0에서 quality 데이터를 추가해주었다
* 전처리(그룹화) 과정을 넘기고 싶으면 "그룹데이터"를 검색

### errtype & errcode(상위 30개) 전처리
ID 별로 errtype과 errcode를 count해준다

In [1]:
import pandas as pd 
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm 
import gc
import random
import re
from sklearn.metrics import *
from sklearn.model_selection import KFold
from sklearn.preprocessing import LabelEncoder,StandardScaler, scale
import warnings
warnings.filterwarnings(action='ignore')
%matplotlib inline

In [2]:
#train 데이터와 test데이터의 경향을 먼저 살펴보자
train_err=pd.read_csv('train_err_data.csv')
test_err=pd.read_csv('test_err_data.csv')

In [3]:
train_err.head()

   user_id            time model_nm       fwver  errtype errcode
0    10000  20201101025616  model_3  05.15.2138       15       1
1    10000  20201101030309  model_3  05.15.2138       12       1
2    10000  20201101030309  model_3  05.15.2138       11       1
3    10000  20201101050514  model_3  05.15.2138       16       1
4    10000  20201101050515  model_3  05.15.2138        4       0

In [4]:
test_err.head()

   user_id            time model_nm       fwver  errtype errcode
0    30000  20201101030227  model_1  04.16.3553       31       1
1    30000  20201101030227  model_1  04.16.3553       33       2
2    30000  20201101030228  model_1  04.16.3553       15       1
3    30000  20201101030256  model_1  04.16.3553       22       1
4    30000  20201101030300  model_1  04.16.3553       11       1

In [5]:
#train 과 test의 errtype& errcode(상위30개)를 살펴본 결과 겹친다

#train_err['errtype'].unique()
#train_err['errtype'].unique()
#train_err['errcode'].unique()
#train_err['errcode'].unique()

## train 전처리

### errtype 전처리 (errtype 별 ID기준 count)

In [7]:
# errtype 별 count를 하기위해 onehot인코딩을 해준다
train_err_incoded=pd.get_dummies(train_err,columns=['errtype'])
train_err_incoded

,user_id,time,model_nm,fwver,errcode,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,...,errtype_33,errtype_34,errtype_35,errtype_36,errtype_37,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42
0,10000,20201101025616,model_3,05.15.2138,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10000,20201101030309,model_3,05.15.2138,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10000,20201101030309,model_3,05.15.2138,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10000,20201101050514,model_3,05.15.2138,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10000,20201101050515,model_3,05.15.2138,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16554658,24999,20201130163051,model_3,05.15.2138,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16554659,24999,20201130172625,model_3,05.15.2138,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16554660,24999,20201130172625,model_3,05.15.2138,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16554661,24999,20201130172631,model_3,05.15.2138,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
16554662,24999,20201130210625,model_3,05.15.2138,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
# ID를 기준으로 groupby하여 errtype 들을 더해주어 errtype 데이터를 생성한다
err_get=train_err_incoded.groupby(['user_id'])[ 'errtype_1',
       'errtype_2', 'errtype_3', 'errtype_4', 'errtype_5', 'errtype_6',
       'errtype_7', 'errtype_8', 'errtype_9', 'errtype_10', 'errtype_11',
       'errtype_12', 'errtype_13', 'errtype_14', 'errtype_15', 'errtype_16',
       'errtype_17', 'errtype_18', 'errtype_19', 'errtype_20', 'errtype_21',
       'errtype_22', 'errtype_23', 'errtype_24', 'errtype_25', 'errtype_26',
       'errtype_27', 'errtype_28', 'errtype_30', 'errtype_31', 'errtype_32',
       'errtype_33', 'errtype_34', 'errtype_35', 'errtype_36', 'errtype_37',
       'errtype_38', 'errtype_39', 'errtype_40', 'errtype_41', 'errtype_42'].sum()

In [23]:
# 다루기 쉽게 DaraFrame으로 전환해준다
errtype_train=pd.DataFrame(err_get)
errtype_train

,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,errtype_10,...,errtype_33,errtype_34,errtype_35,errtype_36,errtype_37,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42
user_id,,,,,,,,,,,,,,,,,,,,,
10000,0.0,0.0,8.0,104.0,0.0,1.0,1.0,0.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10001,0.0,0.0,0.0,0.0,53.0,1.0,1.0,0.0,0.0,0.0,...,10.0,18.0,0.0,1.0,1.0,0.0,0.0,113.0,56.0,1.0
10002,0.0,0.0,2.0,132.0,1.0,2.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10003,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,0.0,...,8.0,0.0,0.0,1.0,1.0,2.0,0.0,17.0,1.0,0.0
10004,0.0,0.0,0.0,1.0,0.0,3.0,4.0,0.0,0.0,0.0,...,16.0,0.0,0.0,1.0,1.0,0.0,0.0,4.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,0.0,0.0,0.0,0.0,2.0,5.0,5.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,7.0,4.0
24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24997,0.0,0.0,0.0,1.0,8.0,1.0,1.0,0.0,0.0,0.0,...,16.0,17.0,0.0,1.0,1.0,0.0,0.0,58.0,8.0,5.0
24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,15.0,12.0,0.0,1.0,1.0,0.0,0.0,6.0,0.0,0.0
24999,0.0,0.0,4.0,192.0,7.0,5.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### errcode의 상위 30개 전처리 
errcode의 상위 30개가 99%이상의 수를 나타내므로 임의로 30으로 선정하였다

In [5]:
# errcode의 종류가 너무 많아 상위 30개 외의 errcode는 "other"로 변경해준다
# 그를 위해 활용할 데이터 errcode_30을 생성


errcode_30=pd.DataFrame(train_err['errcode'].value_counts()[:30]).reset_index()
errcode_30.columns=['errcode','counts']
errcode_30.head()

              errcode   counts
0                   1  8906967
1                   0  2599123
2  connection timeout  1835600
3             B-A8002   897863
4                  80   334018

In [13]:
#errcode_30 데이터를 원본 데이터에 merge 시키면 30개에 해당하지 않는 errcode는 nan이 됨을 이용한다.

train_errcode=pd.merge(train_err,errcode_30,on='errcode',how='left')
train_errcode['counts']=train_errcode['counts'].fillna(0) # nan을 0으로 전환해준다(counts를 합쳤기에 원래는 0이 없었음)

In [14]:
#counts가 0인(30개에 들지 못하는) errcode들을 'other'로 변경해준다.¶
train_errcode['errcode'][train_errcode['counts']==0]='other'
train_errcode['errcode'].value_counts()

1                                     8906967
0                                     2599123
connection timeout                    1835600
B-A8002                                897863
80                                     334018
79                                     332422
14                                     263577
active                                 219238
2                                      166382
84                                     129876
85                                     127744
standby                                110370
NFANDROID2                             104138
connection fail to establish           100940
3                                       91223
90                                      65992
89                                      64799
other                                   38497
S-61001                                 34631
95                                      23452
94                                      22118
4                                       20249
13                                      12040
Q-64002                                 11959
8.0                                      9317
6                                        7392
5                                        7335
78                                       5028
81                                       4339
86                                       4023
connectionterminated by local host       4011
Name: errcode, dtype: int64

In [17]:
train_errcode['errcode'].unique()

array(['1', '0', '2', 'NFANDROID2', 'B-A8002', '14', '4', '13', '3',
       '8.0', 'standby', 'active', 'Q-64002', 'connection timeout',
       'S-61001', 'other', 'connection fail to establish', '80', '79',
       '81', '86', '84', 'connectionterminated by local host', '78', '85',
       '90', '89', '95', '94', '6', '5'], dtype=object)

In [15]:
#errcode를 원핫 인코딩해주고 id를 기준으로 groupby 하여 sum을 해준다

#원핫인코딩
train_errcode_OH=pd.get_dummies(train_errcode,columns=['errcode'])
train_errcode_OH

,user_id,time,model_nm,fwver,errtype,counts,errcode_0,errcode_1,errcode_13,errcode_14,...,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_other,errcode_standby
0,10000,20201101025616,model_3,05.15.2138,15,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10000,20201101030309,model_3,05.15.2138,12,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,10000,20201101030309,model_3,05.15.2138,11,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,10000,20201101050514,model_3,05.15.2138,16,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,10000,20201101050515,model_3,05.15.2138,4,2599123.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16554658,24999,20201130163051,model_3,05.15.2138,15,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16554659,24999,20201130172625,model_3,05.15.2138,16,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16554660,24999,20201130172625,model_3,05.15.2138,4,2599123.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16554661,24999,20201130172631,model_3,05.15.2138,4,2599123.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16554662,24999,20201130210625,model_3,05.15.2138,15,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#ID를 기준으로 groupby해주어 sum해준다
# other를 제외한 errcode들을 groupby 해줌
errcode_train=train_errcode_OH.groupby(['user_id'])['errcode_0', 'errcode_1', 'errcode_13', 'errcode_14', 'errcode_2',
       'errcode_3', 'errcode_4', 'errcode_5', 'errcode_6', 'errcode_78',
       'errcode_79', 'errcode_8.0', 'errcode_80', 'errcode_81', 'errcode_84',
       'errcode_85', 'errcode_86', 'errcode_89', 'errcode_90', 'errcode_94',
       'errcode_95', 'errcode_B-A8002', 'errcode_NFANDROID2',
       'errcode_Q-64002', 'errcode_S-61001', 'errcode_active',
       'errcode_connection fail to establish', 'errcode_connection timeout',
       'errcode_connectionterminated by local host','errcode_standby'].sum()

In [20]:
errcode_train=pd.DataFrame(errcode_train)
errcode_train

,errcode_0,errcode_1,errcode_13,errcode_14,errcode_2,errcode_3,errcode_4,errcode_5,errcode_6,errcode_78,...,errcode_95,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_standby
user_id,,,,,,,,,,,,,,,,,,,,,
10000,104.0,212.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10001,183.0,1274.0,1.0,16.0,7.0,5.0,18.0,0.0,0.0,0.0,...,0.0,53.0,56.0,0.0,0.0,126.0,0.0,0.0,0.0,625.0
10002,132.0,172.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
10003,42.0,229.0,0.0,3.0,3.0,4.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,12.0,0.0,7.0,0.0,0.0
10004,98.0,529.0,3.0,9.0,14.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,1.0,104.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24995,22.0,125.0,4.0,14.0,4.0,4.0,0.0,0.0,0.0,0.0,...,0.0,2.0,7.0,0.0,0.0,4.0,0.0,0.0,0.0,8.0
24996,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
24997,146.0,598.0,1.0,2.0,20.0,13.0,0.0,0.0,0.0,0.0,...,0.0,8.0,8.0,0.0,0.0,4.0,0.0,13.0,1.0,11.0
24998,13.0,125.0,0.0,1.0,12.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
24999,192.0,367.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

## errtype_train 과 errcode_train을 결합하여 err_group_ID_train 데이터 생성

In [30]:
err_group_ID_train=pd.concat([errtype_train,errcode_train],axis=1).reset_index() #결합한 후 user_id를 꺼내기 위해 reset_index()활용
err_group_ID_train

,user_id,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,...,errcode_95,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_standby
0,10000,0.0,0.0,8.0,104.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10001,0.0,0.0,0.0,0.0,53.0,1.0,1.0,0.0,0.0,...,0.0,53.0,56.0,0.0,0.0,126.0,0.0,0.0,0.0,625.0
2,10002,0.0,0.0,2.0,132.0,1.0,2.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10003,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,12.0,0.0,7.0,0.0,0.0
4,10004,0.0,0.0,0.0,1.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,7.0,1.0,104.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,0.0,0.0,0.0,0.0,2.0,5.0,5.0,0.0,0.0,...,0.0,2.0,7.0,0.0,0.0,4.0,0.0,0.0,0.0,8.0
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,24997,0.0,0.0,0.0,1.0,8.0,1.0,1.0,0.0,0.0,...,0.0,8.0,8.0,0.0,0.0,4.0,0.0,13.0,1.0,11.0
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
14999,24999,0.0,0.0,4.0,192.0,7.0,5.0,4.0,0.0,0.0,...,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0

In [31]:
#csv로 꺼내기
err_group_ID_train.to_csv(r"err_group_ID_train.csv", index=False)

## test전처리
#### train과 동일한 방식을 사용하며 errcode의 상위 30개 역시 train과 동일하게 사용한다

### errtype 전처리
방식은 train과 동일

In [2]:
# errtype 별 count를 하기위해 onehot인코딩을 해준다
test_err_incoded=pd.get_dummies(test_err,columns=['errtype'])
test_err_incoded

NameError: name 'test_err' is not defined

In [7]:
# ID를 기준으로 groupby하여 errtype 들을 더해주어 errtype 데이터를 생성한다
err_get_test=test_err_incoded.groupby(['user_id'])[ 'errtype_1',
       'errtype_2', 'errtype_3', 'errtype_4', 'errtype_5', 'errtype_6',
       'errtype_7', 'errtype_8', 'errtype_9', 'errtype_10', 'errtype_11',
       'errtype_12', 'errtype_13', 'errtype_14', 'errtype_15', 'errtype_16',
       'errtype_17', 'errtype_18', 'errtype_19', 'errtype_20', 'errtype_21',
       'errtype_22', 'errtype_23', 'errtype_24', 'errtype_25', 'errtype_26',
       'errtype_27', 'errtype_28', 'errtype_30', 'errtype_31', 'errtype_32',
       'errtype_33', 'errtype_34', 'errtype_35', 'errtype_36', 'errtype_37',
       'errtype_38', 'errtype_39', 'errtype_40', 'errtype_41', 'errtype_42'].sum()

In [9]:
# 다루기 쉽게 DaraFrame으로 전환해준다
errtype_test=pd.DataFrame(err_get_test)
errtype_test

,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,errtype_10,...,errtype_33,errtype_34,errtype_35,errtype_36,errtype_37,errtype_38,errtype_39,errtype_40,errtype_41,errtype_42
user_id,,,,,,,,,,,,,,,,,,,,,
30000,0.0,0.0,0.0,0.0,62.0,1.0,1.0,0.0,0.0,0.0,...,16.0,0.0,1.0,3.0,3.0,0.0,2.0,92.0,0.0,2.0
30001,0.0,0.0,3.0,98.0,3.0,4.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30002,0.0,0.0,0.0,0.0,79.0,2.0,1.0,0.0,0.0,0.0,...,16.0,0.0,0.0,1.0,1.0,0.0,14.0,113.0,1.0,2.0
30003,0.0,0.0,0.0,0.0,107.0,2.0,2.0,0.0,0.0,0.0,...,4.0,16.0,3.0,1.0,1.0,0.0,0.0,40.0,8.0,0.0
30004,0.0,0.0,0.0,2.0,6.0,1.0,1.0,0.0,0.0,0.0,...,11.0,6.0,1.0,1.0,1.0,1.0,0.0,48.0,90.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44994,0.0,0.0,0.0,2.0,12.0,5.0,5.0,0.0,0.0,0.0,...,16.0,0.0,0.0,0.0,0.0,0.0,0.0,100.0,87.0,0.0
44995,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,...,14.0,1.0,0.0,1.0,1.0,0.0,0.0,12.0,17.0,0.0
44996,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,12.0,1118.0,0.0,1.0,1.0,1.0,0.0,329.0,2.0,3.0
44997,0.0,0.0,0.0,1.0,4.0,2.0,2.0,0.0,0.0,0.0,...,14.0,0.0,0.0,1.0,1.0,3.0,0.0,30.0,49.0,0.0
44998,0.0,0.0,0.0,2.0,14.0,1.0,0.0,0.0,0.0,0.0,...,12.0,7.0,0.0,0.0,0.0,0.0,0.0,269.0,0.0,0.0

### errcode의 상위 30개 전처리 
train과 같은 기준을 사용하므로 앞서 생성한 errcode_30 데이터를 활용한다.

In [10]:
#errcode_30 데이터를 원본 데이터에 merge 시키면 30개에 해당하지 않는 errcode는 nan이 됨을 이용한다.

test_errcode=pd.merge(test_err,errcode_30,on='errcode',how='left')
test_errcode['counts']=test_errcode['counts'].fillna(0) # nan을 0으로 전환해준다(counts를 합쳤기에 원래는 0이 없었음)

In [11]:
#counts가 0인(30개에 들지 못하는) errcode들을 'other'로 변경해준다.¶
test_errcode['errcode'][test_errcode['counts']==0]='other'
test_errcode['errcode'].value_counts()

1                                     8750154
0                                     2565532
connection timeout                    1890632
B-A8002                                855747
80                                     326179
79                                     324186
14                                     316110
active                                 225519
2                                      155401
84                                     140642
standby                                139947
85                                     139255
connection fail to establish           109690
NFANDROID2                             108244
3                                       86451
connectionterminated by local host      84809
90                                      58820
89                                      57718
other                                   37704
S-61001                                 35026
4                                       19084
95                                      17806
94                                      16521
6                                       13030
5                                       12991
Q-64002                                 11808
13                                      11740
8.0                                      9427
78                                       5059
81                                       4252
86                                       3164
Name: errcode, dtype: int64

In [13]:
#errcode를 원핫 인코딩해주고 id를 기준으로 groupby 하여 sum을 해준다

#원핫인코딩
test_errcode_OH=pd.get_dummies(test_errcode,columns=['errcode'])
test_errcode_OH

,user_id,time,model_nm,fwver,errtype,counts,errcode_0,errcode_1,errcode_13,errcode_14,...,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_other,errcode_standby
0,30000,20201101030227,model_1,04.16.3553,31,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,30000,20201101030227,model_1,04.16.3553,33,166382.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,30000,20201101030228,model_1,04.16.3553,15,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,30000,20201101030256,model_1,04.16.3553,22,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,30000,20201101030300,model_1,04.16.3553,11,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16532643,44998,20201130210050,model_1,04.16.3553,40,2599123.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16532644,44998,20201130211831,model_1,04.16.3553,31,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16532645,44998,20201130211832,model_1,04.16.3553,15,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16532646,44998,20201130212259,model_1,04.16.3553,16,8906967.0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
16532647,44998,20201130212316,model_1,04.16.3553,31,2599123.0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
#ID를 기준으로 groupby해주어 sum해준다
# other를 제외한 errcode들을 groupby 해줌
errcode_test=test_errcode_OH.groupby(['user_id'])['errcode_0', 'errcode_1', 'errcode_13', 'errcode_14', 'errcode_2',
       'errcode_3', 'errcode_4', 'errcode_5', 'errcode_6', 'errcode_78',
       'errcode_79', 'errcode_8.0', 'errcode_80', 'errcode_81', 'errcode_84',
       'errcode_85', 'errcode_86', 'errcode_89', 'errcode_90', 'errcode_94',
       'errcode_95', 'errcode_B-A8002', 'errcode_NFANDROID2',
       'errcode_Q-64002', 'errcode_S-61001', 'errcode_active',
       'errcode_connection fail to establish', 'errcode_connection timeout',
       'errcode_connectionterminated by local host','errcode_standby'].sum()

In [15]:
errcode_test=pd.DataFrame(errcode_test)
errcode_test

,errcode_0,errcode_1,errcode_13,errcode_14,errcode_2,errcode_3,errcode_4,errcode_5,errcode_6,errcode_78,...,errcode_95,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_standby
user_id,,,,,,,,,,,,,,,,,,,,,
30000,90.0,1251.0,0.0,14.0,15.0,5.0,0.0,0.0,0.0,0.0,...,0.0,53.0,0.0,0.0,9.0,141.0,55.0,1107.0,0.0,4.0
30001,98.0,180.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
30002,186.0,614.0,0.0,4.0,13.0,3.0,0.0,0.0,0.0,0.0,...,0.0,77.0,1.0,0.0,0.0,7.0,0.0,26.0,0.0,6.0
30003,91.0,147.0,0.0,11.0,1.0,1.0,2.0,0.0,0.0,0.0,...,0.0,106.0,8.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
30004,193.0,395.0,1.0,25.0,4.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,90.0,0.0,6.0,5.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44994,139.0,624.0,5.0,26.0,14.0,2.0,0.0,0.0,0.0,1.0,...,0.0,0.0,87.0,0.0,12.0,0.0,7.0,197.0,0.0,0.0
44995,105.0,370.0,2.0,6.0,13.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
44996,251.0,698.0,3.0,4.0,529.0,573.0,6.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,104.0,4.0,44.0,0.0,11.0
44997,61.0,11373.0,1.0,4.0,9.0,2.0,0.0,0.0,0.0,0.0,...,0.0,3.0,49.0,0.0,0.0,1655.0,1010.0,10449.0,1.0,20.0
44998,201.0,499.0,0.0,12.0,11.0,8.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,11.0,0.0,1.0,127.0,0.0,0.0

## errtype_test 과 errcode_test을 결합하여 err_group_ID_test 데이터 생성

In [16]:
err_group_ID_test=pd.concat([errtype_test,errcode_test],axis=1).reset_index() #결합한 후 user_id를 꺼내기 위해 reset_index()활용
err_group_ID_test

,user_id,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,...,errcode_95,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_standby
0,30000,0.0,0.0,0.0,0.0,62.0,1.0,1.0,0.0,0.0,...,0.0,53.0,0.0,0.0,9.0,141.0,55.0,1107.0,0.0,4.0
1,30001,0.0,0.0,3.0,98.0,3.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30002,0.0,0.0,0.0,0.0,79.0,2.0,1.0,0.0,0.0,...,0.0,77.0,1.0,0.0,0.0,7.0,0.0,26.0,0.0,6.0
3,30003,0.0,0.0,0.0,0.0,107.0,2.0,2.0,0.0,0.0,...,0.0,106.0,8.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,30004,0.0,0.0,0.0,2.0,6.0,1.0,1.0,0.0,0.0,...,0.0,0.0,90.0,0.0,6.0,5.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14993,44994,0.0,0.0,0.0,2.0,12.0,5.0,5.0,0.0,0.0,...,0.0,0.0,87.0,0.0,12.0,0.0,7.0,197.0,0.0,0.0
14994,44995,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,...,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14995,44996,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,104.0,4.0,44.0,0.0,11.0
14996,44997,0.0,0.0,0.0,1.0,4.0,2.0,2.0,0.0,0.0,...,0.0,3.0,49.0,0.0,0.0,1655.0,1010.0,10449.0,1.0,20.0
14997,44998,0.0,0.0,0.0,2.0,14.0,1.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,11.0,0.0,1.0,127.0,0.0,0.0

In [17]:
#csv로 꺼내기
err_group_ID_test.to_csv(r"err_group_ID_test.csv", index=False)

## quality 전처리

### train 
#### quality 평균 데이터 생성

In [112]:
train_qual  = pd.read_csv('train_quality_data.csv',thousands = ',')
train_qual

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
2,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
3,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
4,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828619,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,1.0,0,0,0,0,17,0,0
828620,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828621,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,3.0,0,0,0,0,17,0,0
828622,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828623,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,9.0,0,0,0,0,17,0,0

In [113]:
train_qual.isnull().sum()

time               0
user_id            0
fwver          40080
quality_0     144432
quality_1          0
quality_2      40113
quality_3          0
quality_4          0
quality_5         20
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

In [114]:
#결측값들은 0으로 전환 (quality 같은 경우 중위값과 최빈값이 다 0)
train_qual.quality_0 = train_qual.quality_0.fillna(0)
train_qual.quality_2 = train_qual.quality_2.fillna(0)
train_qual.quality_5 = train_qual.quality_5.fillna(0)
train_qual.fwver = train_qual.fwver.fillna(0)
train_qual.isnull().sum()

time          0
user_id       0
fwver         0
quality_0     0
quality_1     0
quality_2     0
quality_3     0
quality_4     0
quality_5     0
quality_6     0
quality_7     0
quality_8     0
quality_9     0
quality_10    0
quality_11    0
quality_12    0
dtype: int64

In [115]:
train_qual.shape

(828624, 16)

In [116]:
#-1을 0으로 전환
train_qual_0 = train_qual.replace(-1,0)
train_qual_0

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
2,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
3,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
4,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828619,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,1.0,0,0,0,0,17,0,0
828620,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828621,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,3.0,0,0,0,0,17,0,0
828622,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828623,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,9.0,0,0,0,0,17,0,0

In [117]:
# user_id 기준으로 groupby (3,4 는 train&test 전체에 0만 있어서 제외해준다)
train_quality_user_id = train_qual_0.groupby(['user_id'])[
    "quality_0","quality_1","quality_2",
    "quality_5","quality_6","quality_7","quality_8",
    "quality_9","quality_10","quality_11","quality_12"].mean()

In [118]:
train_quality_user_id #-1을 제외하고 평균을 낸 quality data

,quality_0,quality_1,quality_2,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
user_id,,,,,,,,,,,
10000,0.000000,0.0,0.000000,0.500000,0.000000,0.000000,0.0,0.000,6.000000,0.0,0.0
10002,0.020833,0.0,0.010417,0.322917,0.479167,5.750000,0.0,0.125,3.875000,0.0,0.0
10004,0.000000,0.0,0.000000,0.166667,3.625000,43.500000,0.0,0.000,2.000000,0.0,0.0
10005,0.000000,0.0,0.000000,0.416667,1.500000,18.000000,0.0,0.000,5.000000,0.0,0.0
10006,0.000000,0.0,0.000000,0.333333,0.111111,1.333333,0.0,0.000,4.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
24990,0.000000,0.0,0.000000,0.083333,0.000000,0.000000,0.0,0.000,1.000000,0.0,0.0
24992,0.000000,0.0,0.000000,0.527778,0.000000,0.000000,0.0,0.000,6.333333,0.0,0.0
24993,0.000000,0.0,0.000000,0.333333,0.000000,0.000000,0.0,0.000,4.000000,0.0,0.0
24995,0.000000,0.0,0.000000,0.208333,0.000000,0.000000,0.0,0.000,2.500000,0.0,0.0
24997,0.000000,0.0,0.000000,0.791667,0.000000,0.000000,0.0,0.000,9.500000,0.0,0.0

#### train quality -1 count하는 데이터 생성

In [119]:
train_qul = pd.read_csv('train_quality_data.csv',thousands = ',')
train_qul

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
1,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
2,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
3,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
4,20201129090000,10000,05.15.2138,0.0,0,0.0,0,0,0.0,0,0,0,0,4,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828619,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,1.0,0,0,0,0,17,0,0
828620,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828621,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,3.0,0,0,0,0,17,0,0
828622,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,0.0,0,0,0,0,17,0,0
828623,20201124033000,24997,04.22.1778,0.0,0,0.0,0,0,9.0,0,0,0,0,17,0,0

In [120]:
train_qul['quality_0_minus']=train_qul['quality_0'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_1_minus']=train_qul['quality_1'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_2_minus']=train_qul['quality_2'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_3_minus']=train_qul['quality_3'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_4_minus']=train_qul['quality_4'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_5_minus']=train_qul['quality_5'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_6_minus']=train_qul['quality_6'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_7_minus']=train_qul['quality_7'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_8_minus']=train_qul['quality_8'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_9_minus']=train_qul['quality_9'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_10_minus']=train_qul['quality_10'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_11_minus']=train_qul['quality_11'].apply(lambda x : 1 if x<0 else 0)
train_qul['quality_12_minus']=train_qul['quality_12'].apply(lambda x : 1 if x<0 else 0)

In [121]:
train_qul.describe()

,time,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,...,quality_3_minus,quality_4_minus,quality_5_minus,quality_6_minus,quality_7_minus,quality_8_minus,quality_9_minus,quality_10_minus,quality_11_minus,quality_12_minus
count,8.286240e+05,828624.000000,684192.000000,828624.000000,788511.000000,828624.0,828624.0,828604.000000,828624.000000,828624.000000,...,828624.0,828624.0,828624.000000,828624.000000,828624.0,828624.0,828624.0,828624.0,828624.000000,828624.0
mean,2.020112e+13,17574.678315,4.148701,-0.171782,4.751094,0.0,0.0,74.533171,2.043391,26.744106,...,0.0,0.0,0.185071,0.185284,0.0,0.0,0.0,0.0,0.185462,0.0
std,8.863638e+06,4374.113554,479.315029,0.692386,586.252469,0.0,0.0,2278.661590,32.695380,317.874778,...,0.0,0.0,0.388355,0.388528,0.0,0.0,0.0,0.0,0.388672,0.0
min,2.020103e+13,10000.000000,-1.000000,-1.000000,-1.000000,0.0,0.0,-1.000000,-1.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
25%,2.020111e+13,13685.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
50%,2.020112e+13,17597.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
75%,2.020112e+13,21423.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
max,2.020113e+13,24997.000000,157667.000000,171.000000,191859.000000,0.0,0.0,637385.000000,600.000000,7200.000000,...,0.0,0.0,1.000000,1.000000,0.0,0.0,0.0,0.0,1.000000,0.0

In [122]:
train_minus = train_qul.drop(["time","fwver","quality_0","quality_1","quality_2","quality_3","quality_4",
    "quality_5","quality_6","quality_7","quality_8",
    "quality_9","quality_10","quality_11","quality_12","quality_3_minus", "quality_4_minus"],axis=1)

In [123]:
train_minus.describe()

,user_id,quality_0_minus,quality_1_minus,quality_2_minus,quality_5_minus,quality_6_minus,quality_7_minus,quality_8_minus,quality_9_minus,quality_10_minus,quality_11_minus,quality_12_minus
count,828624.000000,828624.000000,828624.000000,828624.000000,828624.000000,828624.000000,828624.0,828624.0,828624.0,828624.0,828624.000000,828624.0
mean,17574.678315,0.157886,0.185427,0.174255,0.185071,0.185284,0.0,0.0,0.0,0.0,0.185462,0.0
std,4374.113554,0.364634,0.388644,0.379329,0.388355,0.388528,0.0,0.0,0.0,0.0,0.388672,0.0
min,10000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
25%,13685.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
50%,17597.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
75%,21423.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
max,24997.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,0.0,1.000000,0.0

In [124]:
train_quality_user_id_groupby_minus = train_minus.groupby(['user_id'])[
    "quality_0_minus","quality_1_minus","quality_2_minus","quality_5_minus",
    "quality_6_minus","quality_11_minus"].sum()

In [125]:
# -1 count해준 데이터
train_quality_user_id_groupby_minus=pd.DataFrame(train_quality_user_id_groupby_minus)

### train- errtype&errcode 에 quality 결합

In [126]:
train_group=pd.read_csv(r"err_group_ID_train.csv") #앞서 생성한 err 데이터 csv불러오기
train_group_qual=pd.merge(train_group,train_quality_user_id, on=['user_id'], how ='left')
train_group_quality=pd.merge(train_group_qual,train_quality_user_id_groupby_minus, on=['user_id'], how ='left')
train_group_quality_id=train_group_quality.fillna(0)
train_group_quality_id

,user_id,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,...,quality_9,quality_10,quality_11,quality_12,quality_0_minus,quality_1_minus,quality_2_minus,quality_5_minus,quality_6_minus,quality_11_minus
0,10000,0.0,0.0,8.0,104.0,0.0,1.0,1.0,0.0,0.0,...,0.000,6.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10001,0.0,0.0,0.0,0.0,53.0,1.0,1.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10002,0.0,0.0,2.0,132.0,1.0,2.0,1.0,0.0,0.0,...,0.125,3.875,0.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0
3,10003,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10004,0.0,0.0,0.0,1.0,0.0,3.0,4.0,0.0,0.0,...,0.000,2.000,0.0,0.0,2.0,2.0,2.0,2.0,2.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,0.0,0.0,0.0,0.0,2.0,5.0,5.0,0.0,0.0,...,0.000,2.500,0.0,0.0,10.0,10.0,10.0,10.0,10.0,10.0
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,24997,0.0,0.0,0.0,1.0,8.0,1.0,1.0,0.0,0.0,...,0.000,9.500,0.0,0.0,4.0,4.0,4.0,4.0,4.0,4.0
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14999,24999,0.0,0.0,4.0,192.0,7.0,5.0,4.0,0.0,0.0,...,0.000,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## test
### quality 평균 데이터 생성

In [127]:
test_qual  = pd.read_csv('test_quality_data.csv',thousands = ',')
test_qual

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
1,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
2,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
3,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
4,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747967,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,2.0,0,0,0,0,3,0,0
747968,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747969,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747970,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747971,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0

In [128]:
test_qual.isnull().sum()

time               0
user_id            0
fwver          22764
quality_0     106584
quality_1         11
quality_2      21115
quality_3          0
quality_4          0
quality_5         44
quality_6          0
quality_7          0
quality_8          0
quality_9          0
quality_10         0
quality_11         0
quality_12         0
dtype: int64

In [129]:
# NA 0으로 전환
test_qual.quality_0 = test_qual.quality_0.fillna(0)
test_qual.quality_1 = test_qual.quality_1.fillna(0)
test_qual.quality_2 = test_qual.quality_2.fillna(0)
test_qual.quality_5 = test_qual.quality_5.fillna(0)
test_qual.fwver = test_qual.fwver.fillna(0)
test_qual.isnull().sum()

time          0
user_id       0
fwver         0
quality_0     0
quality_1     0
quality_2     0
quality_3     0
quality_4     0
quality_5     0
quality_6     0
quality_7     0
quality_8     0
quality_9     0
quality_10    0
quality_11    0
quality_12    0
dtype: int64

In [130]:
#-1을 0으로 전환
test_qual_0 = test_qual.replace(-1,0)
test_qual_0

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
1,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
2,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
3,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
4,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747967,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,2.0,0,0,0,0,3,0,0
747968,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747969,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747970,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747971,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0

In [131]:
# user_id 기준으로 groupby (3,4 는 train&test 전체에 0만 있어서 제외해준다)
test_quality_user_id = test_qual_0.groupby(['user_id'])[
    "quality_0","quality_1","quality_2",
    "quality_5","quality_6","quality_7","quality_8",
    "quality_9","quality_10","quality_11","quality_12"].mean()

In [132]:
test_quality_user_id #-1을 제외하고 평균을 낸 quality data

,quality_0,quality_1,quality_2,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
user_id,,,,,,,,,,,
30000,0.0000,0.0,0.0000,0.166667,0.416667,5.00,0.0,0.00,2.000000,0.0,0.0
30001,0.0000,0.0,0.0000,71.194444,0.000000,0.00,0.0,0.00,854.333333,0.0,0.0
30002,0.0000,0.0,0.0000,1.108333,0.000000,0.00,0.0,0.00,13.300000,0.0,0.0
30003,0.0000,0.0,0.0000,0.200000,3.666667,44.00,0.0,0.00,2.400000,0.0,0.0
30004,0.0000,0.0,0.0000,0.083333,1.375000,16.50,0.0,0.00,1.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
44990,0.0000,0.0,0.0000,1.388889,0.000000,0.00,0.0,0.00,16.666667,0.0,0.0
44993,0.1875,0.0,0.1875,0.291667,2.270833,27.25,0.0,2.25,3.500000,0.0,0.0
44994,0.0000,0.0,0.0000,0.166667,0.000000,0.00,0.0,0.00,2.000000,0.0,0.0
44996,0.0000,0.0,0.0000,0.342593,0.000000,0.00,0.0,0.00,4.111111,0.0,0.0
44997,0.0000,0.0,0.0000,0.541667,0.000000,0.00,0.0,0.00,6.500000,0.0,0.0

### -1 count해주는 데이터

In [133]:
test_qul = pd.read_csv('test_quality_data.csv',thousands = ',')
test_qul

,time,user_id,fwver,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,quality_8,quality_9,quality_10,quality_11,quality_12
0,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
1,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
2,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
3,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
4,20201128195000,30000,04.33.1261,0.0,0.0,0.0,0,0,0.0,0,5,0,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747967,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,2.0,0,0,0,0,3,0,0
747968,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747969,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747970,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0
747971,20201125180000,44997,04.22.1750,0.0,0.0,0.0,0,0,0.0,0,0,0,0,3,0,0

In [134]:
#-1을 체크해주는 변수 quality_i_minus를 생성
test_qul['quality_0_minus']=test_qul['quality_0'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_1_minus']=test_qul['quality_1'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_2_minus']=test_qul['quality_2'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_3_minus']=test_qul['quality_3'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_4_minus']=test_qul['quality_4'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_5_minus']=test_qul['quality_5'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_6_minus']=test_qul['quality_6'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_7_minus']=test_qul['quality_7'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_8_minus']=test_qul['quality_8'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_9_minus']=test_qul['quality_9'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_10_minus']=test_qul['quality_10'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_11_minus']=test_qul['quality_11'].apply(lambda x : 1 if x<0 else 0)
test_qul['quality_12_minus']=test_qul['quality_12'].apply(lambda x : 1 if x<0 else 0)

In [135]:
test_qul.describe()

,time,user_id,quality_0,quality_1,quality_2,quality_3,quality_4,quality_5,quality_6,quality_7,...,quality_3_minus,quality_4_minus,quality_5_minus,quality_6_minus,quality_7_minus,quality_8_minus,quality_9_minus,quality_10_minus,quality_11_minus,quality_12_minus
count,7.479720e+05,747972.000000,641388.000000,747961.000000,726857.000000,747972.0,747972.0,747928.000000,747972.000000,747972.000000,...,747972.0,747972.0,747972.000000,747972.000000,747972.0,747972.0,747972.0,747972.0,747972.000000,747972.0
mean,2.020112e+13,37418.280005,2.062694,-0.156352,6.286763,0.0,0.0,65.421619,2.118419,27.697037,...,0.0,0.0,0.189563,0.189668,0.0,0.0,0.0,0.0,0.189736,0.0
std,8.818205e+06,4260.373568,218.919971,12.133952,1199.262744,0.0,0.0,1878.532527,33.651757,324.687088,...,0.0,0.0,0.391956,0.392038,0.0,0.0,0.0,0.0,0.392092,0.0
min,2.020103e+13,30000.000000,-1.000000,-1.000000,-1.000000,0.0,0.0,-1.000000,-1.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
25%,2.020111e+13,33783.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
50%,2.020112e+13,37296.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
75%,2.020112e+13,41081.000000,0.000000,0.000000,0.000000,0.0,0.0,1.000000,0.000000,0.000000,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
max,2.020113e+13,44997.000000,93038.000000,10452.000000,636619.000000,0.0,0.0,156398.000000,600.000000,7200.000000,...,0.0,0.0,1.000000,1.000000,0.0,0.0,0.0,0.0,1.000000,0.0

In [136]:
test_minus = test_qul.drop(["time","fwver","quality_0","quality_1","quality_2","quality_3","quality_4",
    "quality_5","quality_6","quality_7","quality_8",
    "quality_9","quality_10","quality_11","quality_12","quality_3_minus", "quality_4_minus"],axis=1)

In [137]:
test_quality_user_id_groupby_minus = test_minus.groupby(['user_id'])[
    "quality_0_minus","quality_1_minus","quality_2_minus","quality_5_minus",
    "quality_6_minus","quality_11_minus"].sum()

In [138]:
# -1 count해준 데이터
test_quality_user_id_groupby_minus=pd.DataFrame(test_quality_user_id_groupby_minus)

### train- errtype&errcode 에 quality 결합

In [139]:
# errtype&errcode & quality 결합
test_group=pd.read_csv(r"err_group_ID_test.csv") #앞서 생성한 err 데이터 csv 불러오기
test_group_qual=pd.merge(test_group,test_quality_user_id, on=['user_id'], how ='left')
test_group_quality=pd.merge(test_group_qual,test_quality_user_id_groupby_minus, on=['user_id'], how ='left')
test_group_quality_id=test_group_quality.fillna(0)


#빠져있는 43262 추가
additional_index = pd.DataFrame(np.zeros(len(test_group_quality_id.columns)).reshape(1, -1))
columns_names = test_group_quality_id.columns
additional_index.columns = columns_names
additional_index.user_id = [43262]   # 리스트로 입력 안 하면 오류 뜬다.

additional_index

test_group_quality_id = test_group_quality_id.append(additional_index)
test_group_quality_id =test_group_quality_id.sort_values(by="user_id") #user_id 기준 sort 해줌
test_group_quality_id # 43262까지 추가해준 데이터

,user_id,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,...,quality_9,quality_10,quality_11,quality_12,quality_0_minus,quality_1_minus,quality_2_minus,quality_5_minus,quality_6_minus,quality_11_minus
0,30000,0.0,0.0,0.0,0.0,62.0,1.0,1.0,0.0,0.0,...,0.0,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,30001,0.0,0.0,3.0,98.0,3.0,4.0,4.0,0.0,0.0,...,0.0,854.333333,0.0,0.0,9.0,9.0,9.0,9.0,9.0,9.0
2,30002,0.0,0.0,0.0,0.0,79.0,2.0,1.0,0.0,0.0,...,0.0,13.300000,0.0,0.0,15.0,15.0,15.0,15.0,15.0,15.0
3,30003,0.0,0.0,0.0,0.0,107.0,2.0,2.0,0.0,0.0,...,0.0,2.400000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,30004,0.0,0.0,0.0,2.0,6.0,1.0,1.0,0.0,0.0,...,0.0,1.000000,0.0,0.0,6.0,6.0,6.0,6.0,6.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14993,44994,0.0,0.0,0.0,2.0,12.0,5.0,5.0,0.0,0.0,...,0.0,2.000000,0.0,0.0,11.0,11.0,11.0,11.0,11.0,11.0
14994,44995,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14995,44996,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,4.111111,0.0,0.0,5.0,5.0,5.0,5.0,5.0,5.0
14996,44997,0.0,0.0,0.0,1.0,4.0,2.0,2.0,0.0,0.0,...,0.0,6.500000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,44998,0.0,0.0,0.0,2.0,14.0,1.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

### errtype & errcode & quality 결합한 데이터 내보내기

In [140]:
# errtype & errcode & quality 결합한 데이터 내보내기
train_group_quality_id.to_csv(r"train_group_err_quality_id_sum.csv", index=False)
test_group_quality_id.to_csv(r"test_group_err_quality_id_sum.csv", index=False)

## 그룹데이터-errtype&errcode
1. ID 기준으로 errtype&errcode를  groupby.sum()해준 csv데이터 불러오기

In [92]:
train_group=pd.read_csv(r"err_group_ID_train.csv")

In [93]:
#test는 현재 43262번이 빠져 있어 추가해준다
test_group=pd.read_csv(r"err_group_ID_test.csv")

additional_index = pd.DataFrame(np.zeros(len(test_group.columns)).reshape(1, -1))
columns_names = test_group.columns
additional_index.columns = columns_names
additional_index.user_id = [43262]   # 리스트로 입력 안 하면 오류 뜬다.

additional_index

test_group = test_group.append(additional_index)
test_group =test_group.sort_values(by="user_id") #user_id 기준 sort 해줌
test_group # 43262까지 추가해줌

,user_id,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,...,errcode_95,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_standby
0,30000,0.0,0.0,0.0,0.0,62.0,1.0,1.0,0.0,0.0,...,0.0,53.0,0.0,0.0,9.0,141.0,55.0,1107.0,0.0,4.0
1,30001,0.0,0.0,3.0,98.0,3.0,4.0,4.0,0.0,0.0,...,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
2,30002,0.0,0.0,0.0,0.0,79.0,2.0,1.0,0.0,0.0,...,0.0,77.0,1.0,0.0,0.0,7.0,0.0,26.0,0.0,6.0
3,30003,0.0,0.0,0.0,0.0,107.0,2.0,2.0,0.0,0.0,...,0.0,106.0,8.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,30004,0.0,0.0,0.0,2.0,6.0,1.0,1.0,0.0,0.0,...,0.0,0.0,90.0,0.0,6.0,5.0,0.0,0.0,0.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14993,44994,0.0,0.0,0.0,2.0,12.0,5.0,5.0,0.0,0.0,...,0.0,0.0,87.0,0.0,12.0,0.0,7.0,197.0,0.0,0.0
14994,44995,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,...,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14995,44996,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,2.0,0.0,0.0,104.0,4.0,44.0,0.0,11.0
14996,44997,0.0,0.0,0.0,1.0,4.0,2.0,2.0,0.0,0.0,...,0.0,3.0,49.0,0.0,0.0,1655.0,1010.0,10449.0,1.0,20.0
14997,44998,0.0,0.0,0.0,2.0,14.0,1.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,11.0,0.0,1.0,127.0,0.0,0.0

### 2.errtype&errcode&quality data 불러오기

In [ ]:
train_group_quality=pd.read_csv(r"train_group_err_quality_id_sum.csv")
test_group_quality=pd.read_csv(r"test_group_err_quality_id_sum.csv")

# Target추가
ID를 기준으로target을 추가해준다

In [42]:
train_target=pd.read_csv(r"train_problem_data.csv")
train_target

      user_id            time
0       19224  20201102200000
1       23664  20201116140000
2       15166  20201114130000
3       12590  20201108210000
4       15932  20201103210000
...       ...             ...
5424    20167  20201125120000
5425    16270  20201110120000
5426    19114  20201106230000
5427    21505  20201104110000
5428    18822  20201102120000

[5429 rows x 2 columns]

In [43]:
# traget이 시간으로 동일한 ID에도 중복해서 나타난다.
# train_group 에는 시간을 고려하지 않은 target을 더해주면된다
# 그러므로 결합해주기 전에 중복된 값을 삭제한다

train_target=pd.DataFrame(train_target.groupby(['user_id'])['time'].min().reset_index())

In [44]:
train_target.columns=['user_id','target']

In [45]:
#train_group에 train_target을  user_id 기준으로 merge 해준다

train_group_target=pd.merge(train_group,train_target,on="user_id",how='left')
train_group_target

,user_id,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,...,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_standby,target
0,10000,0.0,0.0,8.0,104.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,10001,0.0,0.0,0.0,0.0,53.0,1.0,1.0,0.0,0.0,...,53.0,56.0,0.0,0.0,126.0,0.0,0.0,0.0,625.0,2.020111e+13
2,10002,0.0,0.0,2.0,132.0,1.0,2.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,10003,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,...,1.0,1.0,0.0,1.0,12.0,0.0,7.0,0.0,0.0,NaN
4,10004,0.0,0.0,0.0,1.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,1.0,104.0,0.0,5.0,2.020110e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,0.0,0.0,0.0,0.0,2.0,5.0,5.0,0.0,0.0,...,2.0,7.0,0.0,0.0,4.0,0.0,0.0,0.0,8.0,NaN
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
14997,24997,0.0,0.0,0.0,1.0,8.0,1.0,1.0,0.0,0.0,...,8.0,8.0,0.0,0.0,4.0,0.0,13.0,1.0,11.0,2.020112e+13
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.020111e+13
14999,24999,0.0,0.0,4.0,192.0,7.0,5.0,4.0,0.0,0.0,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

### target값을 0과 1로 전환해준다

In [46]:
# 결측치 0으로 대체
train_group_target['target']=train_group_target['target'].fillna(0)

# 결측치(0)가 아니면 1로 대체
for x in range(len(train_group_target['target'])):  
    if train_group_target['target'][x]>0:
        train_group_target['target'][x]=1

In [47]:
train_group_target

,user_id,errtype_1,errtype_2,errtype_3,errtype_4,errtype_5,errtype_6,errtype_7,errtype_8,errtype_9,...,errcode_B-A8002,errcode_NFANDROID2,errcode_Q-64002,errcode_S-61001,errcode_active,errcode_connection fail to establish,errcode_connection timeout,errcode_connectionterminated by local host,errcode_standby,target
0,10000,0.0,0.0,8.0,104.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,10001,0.0,0.0,0.0,0.0,53.0,1.0,1.0,0.0,0.0,...,53.0,56.0,0.0,0.0,126.0,0.0,0.0,0.0,625.0,1.0
2,10002,0.0,0.0,2.0,132.0,1.0,2.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,10003,0.0,0.0,0.0,0.0,2.0,1.0,1.0,0.0,0.0,...,1.0,1.0,0.0,1.0,12.0,0.0,7.0,0.0,0.0,0.0
4,10004,0.0,0.0,0.0,1.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,0.0,7.0,1.0,104.0,0.0,5.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,24995,0.0,0.0,0.0,0.0,2.0,5.0,5.0,0.0,0.0,...,2.0,7.0,0.0,0.0,4.0,0.0,0.0,0.0,8.0,0.0
14996,24996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14997,24997,0.0,0.0,0.0,1.0,8.0,1.0,1.0,0.0,0.0,...,8.0,8.0,0.0,0.0,4.0,0.0,13.0,1.0,11.0,1.0
14998,24998,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
14999,24999,0.0,0.0,4.0,192.0,7.0,5.0,4.0,0.0,0.0,...,0.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Modeling

In [50]:
#데이터 분리
from sklearn.model_selection import StratifiedKFold, KFold,GridSearchCV, train_test_split

#모델 
from lightgbm import LGBMClassifier
import lightgbm as lgbm

#성과 평가 지표
from sklearn.metrics import accuracy_score, mean_squared_error, confusion_matrix
from sklearn.metrics import roc_auc_score

In [51]:
#run traning
LGBM=LGBMClassifier(boosting_type='gbdt',
                    objective='binary', 
                    metric='auc', 
                    random_state=0, 
                    num_boost_round = 1000)
#result=cross_val_score(LGBM,train_features, train_target,cv=10,scoring='roc_auc')
#print('The cross validated score for LightBoost is:',result.mean())

In [52]:
LGBM.fit(train_group2, train_group_target["target"])

LGBMClassifier(metric='auc', num_boost_round=1000, objective='binary',
               random_state=0)

In [53]:
proba=pd.DataFrame(test_group2['user_id'])
proba['problem']=LGBM.predict_proba(test_group2)[:,1]
#LGBM=LGBM.drop([0,1],axis=1)
#LGBM.to_csv(r"/content/LGBM.csv", index=False)

In [54]:
proba.to_csv(r"proba_basic22_1.csv",index=False)

In [ ]:
y=train_group_target['target']
X=train_group_target.drop('target',axis=1)
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.25, random_state=1)

lgbm_wrapper_time=LGBMClassifier(learning_rate=0.01,max_depth=10,)